@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=VT323&display=swap')

body
  font-family: 'VT323', monospace
  text-transform: uppercase
  font-size: 3rem
  color: #24e200BB
  text-shadow: 0 0 10px #24c200, 0 0 40px #24c200

body button,
body input
  font-family: 'VT323', monospace

body input
  font-size: 2rem

h1
  font-family: 'Black Ops One', monospace
  letter-spacing: 0.1rem
  font-size: 48px
  text-align: center
  font-weight: initial
  margin-top: 0
  @include media-small
    font-size: 8rem

h2, h3, .sound-card .title
  font-weight: normal
  font-size: 2rem
  color: #020202
  line-height: 2.5rem
  text-align: center
  text-shadow: 0 0 5px #000C
  overflow: hidden
  display: block
  max-height: 2.5rem

.header
  font-weight: normal

footer
  font-family: 'Black Ops One', monospace
  font-size: 1rem
  text-align: right
  text-shadow: none
