.game-grid
  display: grid
  grid-template-columns: repeat(11, 1fr)

.header
  text-align: center

.grid
  border: 1px solid #24c200
  padding: 2rem

.hit
  background-color: #24e200CC
  box-shadow: 0 0 20px #24c200AA
