header
  display: flex
  align-items: center
  justify-content: center
  perspective: 250px
  height: 250px
  h1
    margin-top: -80px
  #bust
    display: inline-block
    background-image: url('/jimjams/bust-1.png')
    background-size: cover
    background-repeat: no-repeat
    filter: drop-shadow(0 0 15px pink)
    height: 300px
    width: 300px
    margin-bottom: -100px
