.card .ships-sunk.play-area
  margin: 0 auto 2rem
  padding: 0.5rem 1.5rem
  display: grid
  grid-template-columns: repeat(2, 1fr)
  font-size: 4rem
  .ship
    text-align: right
  .ship-image
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    &.sunk
      filter: hue-rotate(250deg)
    &.Cruiser
      background-image: url("../img/cruiser.svg")
    &.Battleship
      background-image: url("../img/battleship.svg")
    &.Submarine
      background-image: url("../img/submarine.svg")
    &.Destroyer
      background-image: url("../img/destroyer.svg")
    &.Carrier
      background-image: url("../img/carrier.svg")

.sunk
  text-decoration: line-through
  color: red
