.audio-player .play-icon
  background: none
  border: none
  color: #24c200
  box-shadow: none
  text-shadow: 0 0 10px #24c200
  &:hover
    text-shadow: 0 0 5px #24c200, 0 0 10px #24c200, 0 0 15px #24c200
